// Bulma variables
$primary: #34495E;

// Custom variables
$primary-color: #34495E;
$primary-text-color: #fff;
$primary-hover-color: #617181;
$primary-disabled-color: #ECECEC;
$primary-disabled-text-color: #DBDBDB;
