@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "variables";
@import "~normalize.css/normalize.css";
@import "~bulma";

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
  background: #FAFAFA;
}
